<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Picsurp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0D6D905211FE422008FBB91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0D6D919211FE424008FBB91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0D6D924211FE424008FBB91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
